In [1]:
import pandas as pd
import numpy as np

In [2]:
dftrump = pd.read_csv('Approval Ratings- Donald Trump.csv')

In [3]:
dftrump.index = pd.to_datetime(dftrump['Start Date'])

In [4]:
dftrump = dftrump.drop('Start Date', axis = 1)

In [5]:
dftrump['End Date'] = pd.to_datetime(dftrump['End Date'])

In [6]:
dftrump = dftrump.resample('M', on='End Date').mean()

In [7]:
dftrump['President'] = 'Trump'

In [8]:
dftrump.head()

            Approving  Disapproving  Unsure/NoData President
End Date
2017-01-31      45.00         47.00            8.0     Trump
2017-02-28      41.50         53.00            5.5     Trump
2017-03-31      41.00         53.50            5.5     Trump
2017-04-30      40.00         54.00            6.0     Trump
2017-05-31      39.75         54.75            5.5     Trump

In [9]:
dfobama = pd.read_csv('Approval Ratings- Barack Obama.csv')
dfobama.index = pd.to_datetime(dfobama['Start Date'])
dfobama = dfobama.drop('Start Date', axis = 1)
dfobama['End Date'] = pd.to_datetime(dfobama['End Date'])
dfobama = dfobama.resample('M', on='End Date').mean()
dfobama['President'] = 'Obama'

In [10]:
dfobama.head()

            Approving  Disapproving  Unsure/NoData President
End Date
2009-01-31  66.333333     15.444444      18.333333     Obama
2009-02-28  63.961538     22.153846      13.884615     Obama
2009-03-31  61.935484     27.419355      10.645161     Obama
2009-04-30  62.620690     28.689655       8.689655     Obama
2009-05-31  64.666667     28.300000       7.033333     Obama

In [11]:
dfwbush = pd.read_csv('Approval Ratings - George W. Bush.csv')
dfwbush.index = pd.to_datetime(dfwbush['Start Date'])
dfwbush = dfwbush.drop('Start Date', axis = 1)
dfwbush['End Date'] = pd.to_datetime(dfwbush['End Date'])
dfwbush = dfwbush.resample('M', on='End Date').mean()
dfwbush['President'] = 'GW Bush'

In [12]:
dfwbush.head()

            Approving  Disapproving  Unsure/NoData President
End Date
2001-02-28  58.333333     23.333333      17.000000   GW Bush
2001-03-31  57.333333     26.000000      15.333333   GW Bush
2001-04-30  60.500000     29.000000      10.000000   GW Bush
2001-05-31  54.666667     32.666667      11.333333   GW Bush
2001-06-30  52.333333     37.000000       9.333333   GW Bush

In [23]:
dfclinton = pd.read_csv('Approval Ratings- William J. Clinton.csv')
dfclinton.index = pd.to_datetime(dfclinton['Start Date'])
dfclinton = dfclinton.drop('Start Date', axis = 1)
dfclinton['End Date'] = pd.to_datetime(dfclinton['End Date'])
dfclinton = dfclinton.resample('M', on='End Date').mean()
dfclinton['President'] = 'Clinton'

In [24]:
frames = [dftrump, dfobama, dfwbush, dfclinton]
dfbig = pd.concat(frames)

In [25]:
dfbig

            Approving  Disapproving  Unsure/NoData President
End Date
2017-01-31      45.00         47.00            8.0     Trump
2017-02-28      41.50         53.00            5.5     Trump
2017-03-31      41.00         53.50            5.5     Trump
2017-04-30      40.00         54.00            6.0     Trump
2017-05-31      39.75         54.75            5.5     Trump
...               ...           ...            ...       ...
2000-09-30      61.00         34.50            3.5   Clinton
2000-10-31      57.00         37.00            4.5   Clinton
2000-11-30      63.00         32.00            4.0   Clinton
2000-12-31      65.00         30.50            3.0   Clinton
2001-01-31      64.50         30.00            4.5   Clinton

[330 rows x 4 columns]